
*{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    padding: 0 256px;
    justify-content: center;

    gap:32px;
    height: 72px;
    background: #1F2937;
    color: #F9FAF8;
}


h2{
    margin-right: auto;
}


.container1{
    height: 140px;
    background: #1F2937;
    color: #F9FAF8;
    padding: 64px;
    padding-left: 254px;
    font-size: 20px;

}

.container2{
    flex:auto;
    font-size: 20px;
    color: white;
    
}

.link_icons img{
    width: auto;
    height:32px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background: #1F2937;
    
}

.footer {
    height: 48px;
    background: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

a {
    color: grey;
    text-decoration: none;
    font-size: 18px;
  }

#typewriter {
    
    white-space: nowrap;
            overflow: hidden;
            animation: typewriter 4s steps(50)  ;
               
            border-right: 5px solid #1F2937;
        }
@keyframes typewriter {
            from {
                width: 0%;
            }
 
            to {
                width: 102%;
            }
        }