
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 100px;
}
.header{
    display: flex;
    align-items: center;
    padding: 0 256px;
    justify-content: center;

    gap:32px;
    height: 72px;
    background: #1F2937;
    color: #F9FAF8;

}


 
h2{
    margin-right: auto;
}



.about{
    flex:auto;
    text-wrap: wrap;
    color:white;
    padding-left: 254px;
    padding-right: 254px;
    font-size: 18px;
    font-weight: 100;
    margin: 0px;

}

.about .title{
    padding-bottom: 32px;
}


.container1 {
    height: 140px;
    background: #1F2937;
    color: #F9FAF8;
    padding: 64px;
    padding-left: 254px;
    font-size: 20px;
    font-weight: 100;

}

.container2{
    flex:auto;
    font-size: 28px;
    color: white;
    font-weight: 300;
    background: #2F3A47; /* Added background color for better visibility */

}

.link_icons img{
    width: auto;
    height:32px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background: #1F2937;
    
}

.footer {
    height: 48px;
    background: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

a {
    color: grey;
    text-decoration: none;
    font-size: 18px;
  }


  

.text_bounce:hover {
    animation-name: bounce;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
}

#typewriter {
    
            overflow: hidden;
            animation: typewriter 2s steps(50)  ;
               
            border-right: 5px solid #1F2937;
        }
@keyframes typewriter {
            from {
                width: 0%;
            }
 
            to {
                width: 102%;
            }
        }

.title{ /* Add this so the title has a different animation from the about page text*/
    white-space: nowrap; 
    

}

.project_title {
    padding-left: 254px;
    font-size: 20px;
    color: white;
}

.projects {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    gap: 16px;
    justify-content: center; /* Center the content */
    flex: auto;
}

.project {
    padding-top: 50px;
    max-width: 300px; /* Set a maximum width for each project */
    flex: 1; /* Allow projects to share space equally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons for project page */
.button_container {
    display: flex;
    gap: 16px; /* Spacing between buttons */

}

button {
    padding: 20px;
    color: #ffffff;
    background-color: #0e79dd;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    flex: 1; /* Make buttons equal width */
    max-width: 100%; /* Ensure buttons don't exceed their container */
    max-height: 71px;
    height: 71px;
    width: 284px;

}

.project_info {
    padding: 16px 32px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    height: 600px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    pointer-events: none;
    opacity: 0%;
    text-align: center;
    transition: transform 0.3s ease-in-out, opacity 0.4s ease;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_info p {
    margin-bottom: 0px;
    flex: auto;
}

.project_info img {
    padding-top: 10px;
    height: auto;
    width: 300px;
    flex: auto;
    align-self: center;
}

.project_info.show {
    opacity: 100%;
    pointer-events: all;
    transform: translate(-50%, -50%);
}
